html {
    position: relative;
    min-height: 100%;
    min-width: 900px;
}

.footer {
    text-align: center;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
}

.footer div {
    padding-top: 5px;
}

.page-header {
    min-height: 420px;
}

.page-header .center-block {
    margin-top: 40px
}

.page-header table {
    table-layout: fixed
}

.container .row:not(:last-child) {
    text-align: center;
}

body {
    padding-top: 70px;
    padding-bottom: 30px
}

td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}